.postInfoContainer{
    margin-top: 20px;
    margin-left: 20px;

    h3{
        font-size: 22px;
        color: var(--font-black);
    }

    .shortDescription{
        margin-top: 10px;
        font-size: 20px;
        inline-size: 400px;
        overflow-wrap: break-word;
    }
    .infoList{
        margin-top: 20px;
        padding-bottom: 20px;
        border-bottom: 0.5px solid var(--hline-gray);
        
        .infoItem{
            display: flex;
            margin-top: 10px;
            color: rgb(30, 30, 30);
            .count{
                margin-left: 15px;
            }
            .title{
                margin-left: 6px;
            }
        }
    }
}