.updatePostContainer{
  width: 90%;
  margin-top: 20px;
  margin-left: 5%;
  margin-bottom: 40px;
  padding: 40px 40px 40px 40px;
  box-sizing: border-box;
  background-color: white;
  border-radius: 18px;
  // height: 100%;
  height: calc(100vh - 160px);
  overflow: scroll;

  .header {
    margin-top: 20px;
    display: flex;
    align-items: center;

    .actionContainer {
      margin-left: auto;
      display: flex;
      align-items: center;

      .buttonContainer {
        margin-left: 14px;

        .draftButton {
          display: flex;
          align-items: center;
          gap: 20px;
          text-align: center;
          background-color: var(--main-button-color);
          color: var(--main-button-font-color);
          border-radius: 8px;
          border: none;
          font-size: 16px;
          font-weight: 600;
          // box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);

          padding: 10px 18px;
          cursor: pointer;

          transition: 0.2s;

          &:hover {
            background-color: var(--main-button-color-hover);
          }

        }

        .updateButton {
          
          display: flex;
          align-items: center;
          gap: 20px;
          text-align: center;
          background-color: var(--main-button-color);
          color: var(--main-button-font-color);
          border-radius: 8px;
          border: none;
          font-size: 16px;
          font-weight: 600;
          // box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);

          padding: 10px 18px;
          cursor: pointer;

          transition: 0.2s;

          &:hover {
            background-color: var(--main-button-color-hover);

          }

          .alert {
            background-color: rgba(0, 128, 0, 0.11);
            color: green;
            padding: 7px;
            font-size: 13px;
            border-radius: 5px;
            transition: 0.2s;

            &.danger {
              background-color: rgba(255, 0, 0, 0.1);
              color: red;
            }
          }

        }


      }
    }


  }

  .fileUploadButton{
    margin-top: 60px;
  }


  .editor {
    .toolbarClassName {
      border-radius: 5px;
      border: 1px solid lightgray;
    }

    .editorClassName {
      border-radius: 5px;
      border: 1px solid lightgray;
      padding: 0 10px 0 10px;
      resize: block;
      font-size: 15px;
    }
  }
}


.updatePostContainerMobile{
  width: 96%;
  margin-top: 20px;
  margin-left: 1%;
  margin-bottom: 40px;
  padding: 20px 10px 20px 10px;
  box-sizing: border-box;
  background-color: white;
  border-radius: 18px;
  // height: 100%;
  height: calc(100vh);
  overflow: scroll;

  .header {
    margin-top: 10px;
    display: flex;
    align-items: center;

    .actionContainer {
      margin-left: auto;
      display: flex;
      align-items: center;

      .buttonContainer {
        margin-left: 14px;

        .draftButton {
          display: flex;
          align-items: center;
          text-align: center;
          background-color: #4f4f4f;
          color: #ffffff;
          border-radius: 8px;
          border: none;
          font-size: 12px;
          font-weight: 600;
          box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
          padding: 6px 10px;
          cursor: pointer;
          transition: 0.2s;

          &:hover {
            background-color: #9b9b9b;
          }

        }

        .updateButton {
          display: flex;
          align-items: center;
          text-align: center;
          background-color: #4f4f4f;
          color: #ffffff;
          border-radius: 8px;
          border: none;
          font-size: 12px;
          font-weight: 600;
          box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
          padding: 6px 10px;
          cursor: pointer;
          transition: 0.2s;

          &:hover {
            background-color: #9b9b9b;

          }

          .alert {
            background-color: rgba(0, 128, 0, 0.11);
            color: green;
            padding: 7px;
            font-size: 13px;
            border-radius: 5px;
            transition: 0.2s;

            &.danger {
              background-color: rgba(255, 0, 0, 0.1);
              color: red;
            }
          }

        }


      }
    }


  }

  .postInner{
    h2{
      font-size: 16px;
      font-weight: 600;
    }

    .formGroup{
      .formGroupInfo{
        .title{
          font-size: 16px;
          font-weight: 600;
        }
      }
    }
  }

  .fileUploadButton{
    margin-top: 10px;
  }


  .editor {
    .toolbarClassName {
      border-radius: 5px;
      border: 1px solid lightgray;
    }

    .editorClassName {
      border-radius: 5px;
      border: 1px solid lightgray;
      padding: 0 10px 0 10px;
      resize: block;
      font-size: 15px;
    }
  }

  
  .formGroup {
    margin: 0;
    .formGroupTitle {
      border: none;
      font-weight: 600;
      font-size: 24px;
      outline: none;
      resize: none;
      padding: 7px;
      width: 100%;
      height: 56px;
      box-sizing: border-box;
    }
    .formGroupDescription {
      border: none;
      font-weight: 600;
      font-size: 24px;
      outline: none;
      resize: none;
      padding: 7px;
      width: 100%;
      height: 56px;
      box-sizing: border-box;
      margin-bottom: 10px;
    }
  }


}