.treeInfoContainer{
    margin-top: 30px;
    margin-left: 20px;
    padding-bottom: 40px;

    border-bottom: 0.5px solid var(--hline-gray);
    .header{
        display: flex;
        margin-top: 40px;

        .infoMark{
            cursor: pointer;
            margin-left: 20px;

            .MuiSvgIcon-root{
                color: #4a4a4a;
            }
        }
    }
    h3{
        font-size: 22px;
        columns: var(--font-black);
    }

    .parentInfo{
        margin-top: 10px;
        .header{

        }
        .fromUser{
            margin-left: 10px;

        }
        .separation{
            margin-left: 10px;

        }
        .fromPost{

        }
        .title{

        }
    }

    .childInfo{
        margin-top: 10px;
        .title{

        }
        .separation{
            margin-left: 10px;

        }
        .number{
            margin-left: 10px;

        }
    }
}