.drop-down {
  list-style: none;
}

.drop-down li {
  padding: 10px 0px;
  border-bottom: 1px solid #cccccc;
  width: 100px;
  text-align: center;
  background: #fbf6f6;
  cursor: pointer;
  transition: 0.2s;

  &:hover {
    background-color: rgba(116, 81, 248, 0.48);
    ;
  }
}


.commentContainer {
  display: flex;

  .comment {
    display: flex;
    gap: 10px;

    .commentAuthor {
      display: flex;
      flex-direction: column;
      gap: 2px;

      .commentAuthorName {
        font-size: 14px;

        .commentDate {
          color: #7c7b7b;
        }
      }

      .commentText {
        margin-top: 5px;
        line-height: 25px;
        word-break: break-word;
      }

      .reproducibility {
        margin-top: 10px;

        .title {
          font-size: 16px;
          font-weight: 500;
        }

        .value {
          margin-left: 20px;
          border-radius: 6px;
          padding: 4px 15px;
          color: white;
          font-weight: 500;
        }

        .null {
          background-color: #cccccc;
        }

        .true {
          background-color: rgb(84, 208, 243);
        }

        .false {
          background-color: rgb(246, 64, 28);
        }
      }

      .timeCost {
        margin-top: 10px;

        .title {
          font-size: 16px;
          font-weight: 500;
        }

        .value {
          margin-left: 20px;
          border-radius: 6px;
          padding: 4px 15px;
          color: white;
          font-weight: 500;
        }

        .null {
          background-color: #cccccc;
        }

        .extremelyLow {
          background-color: rgb(47, 151, 255);
        }

        .low {
          background-color: rgb(47, 151, 255);
        }

        .medium {
          background-color: rgb(84, 208, 243);
        }

        .high {
          background-color: rgb(246, 64, 28);
        }

        .extremelyHigh {
          background-color: rgb(246, 64, 28);
        }
      }
    }

    img {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      object-fit: cover;
    }

  }

  .commentMoreContainer {
    display: flex;
    flex-direction: column;
    margin-left: auto;

  }

  .right {
    margin-left: auto;

    .commentMoreIcon {
      cursor: pointer;
    }
  }
}