.forkContainer {
    // background-color: var(--main-bg-color);
    // height: calc(100vh);
    // TODO
    padding-bottom: 100px;

    .forkHeader {
        display: flex;
        height: 160px;
        // border-bottom: 1px solid #bfbfbf;
        // box-shadow: 0.5px 0.3px 0.5px 0.5px rgba(0, 0, 0, 0.2);
        margin-bottom: 20px;
        background-color: var(--sub-bg-color);

        .forkHeaderLeft {
            margin-left: 40px;
            margin-top: 40px;

            .headerLeftTitle {
                display: flex;

                .username {
                    font-size: 24px;
                }

                .separation {
                    font-size: 24px;
                    margin-left: 5px;
                    margin-right: 5px;
                }

                .title {
                    font-size: 24px;
                }


            }

            .userInfo {
                display: flex;
                align-items: center;
                margin-top: 20px;

                img {
                    width: 30px;
                    height: 30px;
                    border-radius: 50%;
                }

                .username {
                    margin-left: 20px;
                }

                .forkedDate {
                    margin-left: 20px;
                }

            }

        }

        .forkHeaderRight {
            margin-left: auto;
            margin-right: 100px;
            margin-top: 40px;

            .forkActionsInfo {
                display: flex;
                align-items: center;

                .forkLike {
                    display: flex;
                    align-items: center;
                    border: 1px solid #bfbfbf;
                    box-shadow: 0.1px 0.1px 0.2px 0.2px rgba(0, 0, 0, 0.2);
                    padding: 8px 24px;
                    border-radius: 8px;
                    cursor: pointer;
                    transition: 0.2s;

                    &:hover {
                        background-color: var(--button-bg-whitegray);
                    }


                    .count {
                        font-size: 15px;
                        font-weight: 300;
                        margin-left: 10px;
                    }
                }

                .forkComment {
                    margin-left: 20px;
                    display: flex;
                    align-items: center;
                    border: 1px solid #bfbfbf;
                    box-shadow: 0.1px 0.1px 0.2px 0.2px rgba(0, 0, 0, 0.2);
                    padding: 8px 24px;
                    border-radius: 8px;
                    cursor: pointer;
                    transition: 0.2s;

                    &:hover {
                        background-color: var(--button-bg-whitegray);
                    }


                    .count {
                        font-size: 15px;
                        font-weight: 300;
                        margin-left: 10px;
                    }
                }

                .forkFork {
                    margin-right: 20px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border: 1px solid #bfbfbf;
                    box-shadow: 0.1px 0.1px 0.2px 0.2px rgba(0, 0, 0, 0.2);
                    padding: 8px 24px;
                    border-radius: 8px;
                    cursor: pointer;
                    transition: 0.2s;

                    &:hover {
                        background-color: var(--button-bg-whitegray);
                    }


                    .actionTitle {
                        font-size: 15px;
                        font-weight: 300;
                        margin-left: 10px;
                    }

                    .count {
                        font-size: 15px;
                        font-weight: 300;
                        margin-left: 10px;
                    }
                }

            }


        }
    }

    .forkBody {
        width: 70%;
        margin-top: 60px;
        margin-left: 15%;
        background-color: white;
        padding: 40px 20px 20px 40px;
        border: none;
        border-radius: 20px;

        .forkBodyHeader {
            padding-bottom: 20px;
            border-bottom: 1px solid #bfbfbf;

            .title {
                font-size: 28px;
                font-weight: 500;
                color: #323232;

            }

            .body {
                margin-top: 10px;
                font-size: 18px;
                font-weight: 500;
                color: #464646;

                .italic {
                    font-style: italic;
                }

            }
        }

        .forkBodyMain {
            margin-top: 40px;

            .destinationContainer {
                margin-top: 20px;
                // display: flex;
                align-items: center;

                h2 {
                    margin-top: 32px;
                    font-weight: 700;
                    color: #414141;
                }

                .pathContainer {
                    // margin: 0 10px;
                    display: flex;
                    align-items: flex-end;

                    .owner {
                        p {
                            margin-bottom: 6px;
                            font-size: 20px;
                            font-weight: 600;
                            color: #464646;
                        }

                        .userInfo {
                            border: 1px solid #f7f7f7;
                            // background-color: #ededed;
                            padding: 4px 15px;
                            border: 1px solid #464646;
                            border-radius: 6px;
                            display: flex;
                            align-items: center;
                            height: 40px;

                            img {
                                width: 20px;
                                border-radius: 50%;

                            }

                            .owner {
                                font-size: 18px;
                                margin-left: 10px;
                                width: fit-content;
                            }

                        }
                    }

                    .seperation {
                        font-size: 40px;
                        margin: 0 8px;
                        padding-top: 24px;
                        color: #464646;
                    }

                    .title {
                        p {
                            margin-bottom: 6px;
                            font-size: 20px;
                            font-weight: 600;
                            color: #464646;
                        }

                        .postName {
                            width: 500px;
                            border: 1px solid #f7f7f7;
                            // background-color: #ededed;
                            margin-left: 4px;
                            border: 1px solid #464646;
                            border-radius: 6px;
                            padding: 4px 15px;
                            height: 40px;
                            display: flex;
                            align-items: center;
                            font-size: 18px;
                        }
                    }

                }

                .descriptionContainer {
                    margin-top: 20px;
                    // margin-left: 10px;

                    p {
                        margin-bottom: 6px;
                        font-size: 20px;
                        font-weight: 600;
                        color: #464646;
                    }

                    input {
                        margin-right: 10px;
                        padding: 4px 15px;
                        font-size: 18px;
                        width: 80%;
                        height: 40px;
                        border: 1px solid #464646;
                        border-radius: 6px;
                    }
                }
            }

            .explanation {
                margin-top: 20px;
                font-size: 18px;
                font-weight: 500;
                color: #464646;
                padding-bottom: 20px;
                border-bottom: 1px solid #d1d1d1;
            }

            .customDescription {
                padding-bottom: 20px;
                border-bottom: 1px solid #d1d1d1;
                margin-top: 40px;

                .title {
                    font-size: 20px;
                    font-weight: 600;
                    color: #464646;

                    .optional {
                        font-size: 20px;
                        color: #828282;
                    }
                }

                .form {
                    margin-top: 10px;
                    width: 50%;
                }
            }
        }

        .forkBodyFooter {
            margin-top: 20px;
            margin-bottom: 20px;

            .button {
                height: var(--button-send-create-fork-height);
                width: var(--button-send-create-fork-width);
                border: 1px solid var(--button-send-create-fork-border-color);
                background: var(--button-send-create-fork-bg-color);
                color: var(--button-send-create-fork-font-color);
                padding-top: var(--button-send-create-fork-padding-top);
                padding-right: var(--button-send-create-fork-padding-right);
                padding-bottom: var(--button-send-create-fork-padding-bottom);
                padding-left: var(--button-send-create-fork-padding-left);
                font-size: var(--button-send-create-fork-font-size);
                border-radius: var(--button-send-create-fork-border-radius);

                cursor: pointer;
                transition: 0.2s;

                &:hover {
                    background-color: var(--main-button-color-hover);
                    color: white;
                }
            }
        }

    }
}


.forkContainerMobile {
    background-color: var(--main-bg-color);
    // height: calc(100vh);
    // TODO
    padding-bottom: 60px;

    .forkHeader {
        border-bottom: 1px solid #bfbfbf;
        background-color: var(--sub-bg-color);

        .forkHeaderLeft {
            margin-left: 20px;
            margin-top: 20px;

            .headerLeftTitle {
                display: flex;

                .username {
                    font-size: 20px;
                }

                .separation {
                    font-size: 20px;
                    margin-left: 5px;
                    margin-right: 5px;
                }

                .title {
                    font-size: 20px;
                }


            }

            .userInfo {
                display: flex;
                align-items: center;
                margin-top: 20px;

                img {
                    width: 30px;
                    height: 30px;
                    border-radius: 50%;
                }

                .username {
                    margin-left: 20px;
                    font-size: 16px;
                }

                .forkedDate {
                    margin-left: 20px;
                    font-size: 16px;
                }

            }

        }

        .forkHeaderRight {
            margin-left: 10px;
            margin-right: 100px;
            margin-top: 20px;
            margin-bottom: 20px;

            .forkActionsInfo {
                display: flex;
                align-items: center;
                margin-left: 10px;
                margin-bottom: 10px;

                .forkLike {
                    display: flex;
                    align-items: center;
                    border: 1px solid #bfbfbf;
                    box-shadow: 0.1px 0.1px 0.2px 0.2px rgba(0, 0, 0, 0.2);
                    padding: 6px 18px;
                    border-radius: 8px;
                    cursor: pointer;
                    transition: 0.2s;

                    &:hover {
                        background-color: var(--button-bg-whitegray);
                    }


                    .count {
                        font-size: 15px;
                        font-weight: 300;
                        margin-left: 10px;
                    }
                }

                .forkComment {
                    margin-left: 20px;
                    display: flex;
                    align-items: center;
                    border: 1px solid #bfbfbf;
                    box-shadow: 0.1px 0.1px 0.2px 0.2px rgba(0, 0, 0, 0.2);
                    padding: 6px 18px;
                    border-radius: 8px;
                    cursor: pointer;
                    transition: 0.2s;

                    &:hover {
                        background-color: var(--button-bg-whitegray);
                    }


                    .count {
                        font-size: 15px;
                        font-weight: 300;
                        margin-left: 10px;
                    }
                }

                .forkFork {
                    margin-right: 20px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border: 1px solid #bfbfbf;
                    box-shadow: 0.1px 0.1px 0.2px 0.2px rgba(0, 0, 0, 0.2);
                    padding: 6px 18px;
                    border-radius: 8px;
                    cursor: pointer;
                    transition: 0.2s;

                    &:hover {
                        background-color: var(--button-bg-whitegray);
                    }


                    .actionTitle {
                        font-size: 15px;
                        font-weight: 300;
                        margin-left: 10px;
                    }

                    .count {
                        font-size: 15px;
                        font-weight: 300;
                        margin-left: 10px;
                    }
                }

            }


        }
    }

    .forkBody {
        width: 90%;
        margin-top: 60px;
        margin-left: 10px;
        background-color: white;
        padding: 20px 10px 20px 10px;
        border: none;
        border-radius: 20px;

        .forkBodyHeader {
            padding-bottom: 20px;
            border-bottom: 1px solid #bfbfbf;

            .title {
                font-size: 22px;
                font-weight: 500;
                color: #323232;

            }

            .body {
                margin-top: 10px;
                font-size: 14px;
                font-weight: 500;
                color: #464646;

                .italic {
                    font-style: italic;
                }

            }
        }

        .forkBodyMain {
            margin-top: 30px;

            .destinationContainer {
                margin-top: 20px;
                // display: flex;
                align-items: center;

                h2 {
                    margin-top: 32px;
                    font-weight: 700;
                    color: #414141;
                }

                .pathContainer {
                    // margin: 0 10px;
                    display: flex;
                    align-items: flex-end;

                    .owner {
                        p {
                            margin-bottom: 6px;
                            font-size: 16px;
                            font-weight: 600;
                            color: #464646;
                        }

                        .userInfo {
                            width: 90%;
                            border: 1px solid #f7f7f7;
                            // background-color: #ededed;
                            padding: 2px 8px;
                            border: 1px solid #464646;
                            border-radius: 6px;
                            display: flex;
                            align-items: center;
                            height: 32px;

                            img {
                                width: 20px;
                                border-radius: 50%;

                            }

                            .owner {
                                font-size: 14px;
                                margin-left: 10px;
                                width: fit-content;
                            }

                        }
                    }

                    .seperation {
                        font-size: 30px;
                        margin: 0 8px;
                        margin-left: 20px;
                        padding-top: 24px;
                        color: #464646;
                    }

                    .title {
                        p {
                            margin-bottom: 6px;
                            font-size: 16px;
                            font-weight: 600;
                            color: #464646;
                        }

                        .postName {
                            width: 95%;
                            border: 1px solid #f7f7f7;
                            // background-color: #ededed;
                            margin-left: 4px;
                            border: 1px solid #464646;
                            border-radius: 6px;
                            padding: 2px 8px;
                            height: 32px;
                            display: flex;
                            align-items: center;
                            font-size: 14px;
                        }
                    }

                }

                .descriptionContainer {
                    margin-top: 20px;
                    // margin-left: 10px;

                    p {
                        margin-bottom: 6px;
                        font-size: 16px;
                        font-weight: 600;
                        color: #464646;
                    }

                    input {
                        margin-right: 10px;
                        padding: 4px 15px;
                        font-size: 14px;
                        width: 90%;
                        height: 30px;
                        border: 1px solid #464646;
                        border-radius: 6px;
                    }
                }
            }

            .explanation {
                margin-top: 20px;
                font-size: 14px;
                font-weight: 500;
                color: #464646;
                padding-bottom: 20px;
                border-bottom: 1px solid #d1d1d1;
            }

            .customDescription {
                padding-bottom: 20px;
                border-bottom: 1px solid #d1d1d1;
                margin-top: 40px;

                .title {
                    font-size: 20px;
                    font-weight: 600;
                    color: #464646;

                    .optional {
                        font-size: 20px;
                        color: #828282;
                    }
                }

                .form {
                    margin-top: 10px;
                    width: 50%;
                }
            }
        }

        .forkBodyFooter {
            margin-top: 20px;
            margin-bottom: 20px;

            .button {
                height: 40px;
                width: 100px;
                border: 1px solid #000;
                border-radius: 5px;
                background: none;
                cursor: pointer;
                transition: 0.2s;

                &:hover {
                    background-color: #56535c;
                    color: white;
                }
            }
        }

    }
}