.postItemContainer {
  .authorInfo {
    display: flex;
    align-items: center;
    padding: 0 0 10px 0;
    color: var(--font-black);

    .profileImage {
      width: 50px;
      height: 50px;
      border-radius: 50%;
    }

    .authorDescription {
      margin-left: 20px;

      .itemListHeader {
        display: flex;
        align-items: center;

        .authorName {
          font-size: 18px;
          font-weight: 700;
        }

        .authorAction {
          font-size: 16px;
          font-weight: 500;
          margin-left: 10px;
        }

      }

    }

    .postDate {
      font-size: 14px;
      color: var(--font-graywhite);
      margin-left: 10px;
    }
  }


  .postItem {
    width: 90%;
    background-color: white;
    border: none;
    border-radius: 10px;
    margin-bottom: 40px;
    margin-left: 60px;
    padding-top: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    -moz-box-shadow: 0px 1px 4px -1px rgba(0, 0, 0, 0.24);
    -webkit-box-shadow: 0px 4px 7px -1px rgba(0, 0, 0, 0.24);
    -ms-box-shadow: 0px 1px 4px -1px rgba(0, 0, 0, 0.24);
    box-shadow: 0px 1px 4px -1px rgba(0, 0, 0, 0.24);

    .postItemContainer {}

    .postImg {
      border-top-right-radius: 5px;
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
      height: 100px;
      object-fit: cover;
      margin-left: auto;
      margin-right: 40px;
    }

    .previewInfo {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 7px;
      padding: 20px 20px 10px 20px;

    }

    .postInfoTitle {
      word-break: break-word;
      padding: 10px 0 10px 20px;

      h2 {
        cursor: pointer;
        font-size: 24px;
        transition: 0.2s;

        &:hover {
          color: #56535c;
        }
      }
    }

    .postReactions {
      padding: 0 20px 20px 20px;
      display: flex;
      margin-top: 10px;
      gap: 30px;
      font-size: 13px;
      color: gray;

      .postReactionsInfo {
        display: flex;
        align-items: center;
        gap: 5px;

        .postReactionsIcon {
          font-size: 17px;
          color: black;
        }
      }
    }
  }
}

.postItemContainerMobile {
  .authorInfo {
    display: flex;
    align-items: center;
    padding: 0 0 10px 0;
    color: var(--font-black);

    .profileImage {
      width: 32px;
      height: 32px;
      border-radius: 50%;
    }

    .authorDescription {
      margin-left: 20px;

      .itemListHeader {
        display: flex;
        align-items: center;

        .authorName {
          font-size: 16px;
          font-weight: 700;
        }

        .authorAction {
          font-size: 14px;
          font-weight: 500;
          margin-left: 10px;
        }

      }

    }

    .postDate {
      font-size: 13px;
      color: var(--font-graywhite);
      margin-left: 10px;
    }
  }


  .postItem {
    width: 90%;
    background-color: white;
    border: none;
    border-radius: 10px;
    margin-bottom: 40px;
    margin-left: 10%;
    padding-top: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    -moz-box-shadow: 0px 1px 4px -1px rgba(0, 0, 0, 0.24);
    -webkit-box-shadow: 0px 4px 7px -1px rgba(0, 0, 0, 0.24);
    -ms-box-shadow: 0px 1px 4px -1px rgba(0, 0, 0, 0.24);
    box-shadow: 0px 1px 4px -1px rgba(0, 0, 0, 0.24);

    .postItemContainer {}

    .postImg {
      border-top-right-radius: 5px;
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
      height: 40px;
      object-fit: cover;
      margin-left: auto;
      margin-right: 40px;
    }

    .previewInfo {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 20px 20px 10px 20px;

    }

    .postInfoTitle {
      word-break: break-word;
      padding: 10px 0 10px 20px;

      h2 {
        cursor: pointer;
        transition: 0.2s;
        font-size: 18px;

        &:hover {
          color: #56535c;
        }
      }
    }

    .postReactions {
      padding: 0 20px 20px 20px;
      display: flex;
      margin-top: 10px;
      gap: 30px;
      font-size: 13px;
      color: gray;

      .postReactionsInfo {
        display: flex;
        align-items: center;
        gap: 5px;

        .postReactionsIcon {
          font-size: 17px;
          color: black;
        }
      }
    }
  }

}