.reproducibilityListContainer{
    margin-top: 20px;
    margin-left: 20px;
    h3{
        font-size: 22px;
        margin-bottom: 20px;
        margin-top: 30px;
        color: var(--font-black);
    }
    .secondH3{
        margin-top: 40px;
    }
}