.commentForm {
  padding-right: 30px;

  .selectContainerWhole {
    display: flex;
    margin-bottom: 10px;

    .selectContainer {
      margin-right: 40px;

      .reproducibilityContainer {
        font-size: 16px;
        font-weight: 650;
        color: var(--font-graywhite);

        .reproducibilitySelect {
          width: 200px;
          margin-top: 10px;
        }
      }

      .timeCostContainer {
        font-size: 16px;
        font-weight: 650;
        color: var(--font-graywhite);

        .timeCostSelect {
          width: 200px;
          margin-top: 10px;
        }

      }

    }

  }

  .commentValidationError {
    font-size: 12px;
    background-color: rgba(255, 0, 0, 0.18);
    padding: 3px 6px 3px 6px;
    border-radius: 5px;
    margin-bottom: 5px;
    color: rgba(255, 0, 0, 0.71);
    width: max-content;

  }

  .commentValidationSuccess {
    font-size: 12px;
    background-color: rgba(0, 128, 0, 0.24);
    padding: 3px 6px 3px 6px;
    border-radius: 5px;
    margin-bottom: 5px;
    color: rgba(0, 128, 0, 0.77);
    width: max-content;
  }

  .commentFormArea {
    width: 100%;
    height: 60px;
    border-radius: 8px;
    margin-top: 20px;
    border: 1px solid lightgray;
    padding: 10px;
    font-size: 15px;
    resize: none;

    &:disabled {
      background-color: inherit;
    }

    &:focus {
      outline: 1px solid #56535c;
    }
  }

  .sendButton {
    margin-top: 10px;
  }

  .sendButton>button {
    height: var(--button-send-create-fork-height);
    width: var(--button-send-create-fork-width);
    border: 1px solid var(--button-send-create-fork-border-color);
    background: var(--button-send-create-fork-bg-color);
    color: var(--button-send-create-fork-font-color);
    padding-top: var(--button-send-create-fork-padding-top);
    padding-right: var(--button-send-create-fork-padding-right);
    padding-bottom: var(--button-send-create-fork-padding-bottom);
    padding-left: var(--button-send-create-fork-padding-left);
    font-size: var(--button-send-create-fork-font-size);
    border-radius: var(--button-send-create-fork-border-radius);

    transition: 0.2s;
    cursor: pointer;

    &:hover {
      background-color: var(--button-send-create-fork-bg-color-hover);
      color: var(--button-send-create-fork-font-color-hover)
    }
  }

}

.commentFormMobile{
  padding-right: 30px;

  .selectContainerWhole {
    margin-bottom: 10px;

    .selectContainer {
      margin-right: 40px;

      .reproducibilityContainer {
        font-size: 13px;
        font-weight: 650;
        color: var(--font-graywhite);

        .reproducibilitySelect {
          width: 100%;
          margin-top: 10px;
        }
      }

      .timeCostContainer {
        margin-top: 20px;
        font-size: 13px;
        font-weight: 650;
        color: var(--font-graywhite);

        .timeCostSelect {
          width: 100%;
          margin-top: 10px;
        }

      }

    }

  }

  .commentValidationError {
    font-size: 12px;
    background-color: rgba(255, 0, 0, 0.18);
    padding: 3px 6px 3px 6px;
    border-radius: 5px;
    margin-bottom: 5px;
    color: rgba(255, 0, 0, 0.71);
    width: max-content;

  }

  .commentValidationSuccess {
    font-size: 12px;
    background-color: rgba(0, 128, 0, 0.24);
    padding: 3px 6px 3px 6px;
    border-radius: 5px;
    margin-bottom: 5px;
    color: rgba(0, 128, 0, 0.77);
    width: max-content;
  }

  .commentFormArea {
    width: 100%;
    height: 40px;
    border-radius: 8px;
    margin-top: 14px;
    border: 1px solid lightgray;
    padding: 10px;
    font-size: 13px;
    resize: none;

    &:disabled {
      background-color: inherit;
    }

    &:focus {
      outline: 1px solid #56535c;
    }
  }

  .sendButton {
    margin-top: 10px;
    width: 100px;
  }

  .sendButton>button {
    height: var(--button-send-create-fork-height-mobile);
    width: var(--button-send-create-fork-width-mobile);
    border: 1px solid var(--button-send-create-fork-border-color-mobile);
    background: var(--button-send-create-fork-bg-color-mobile);
    color: var(--button-send-create-fork-font-color-mobile);
    padding-top: var(--button-send-create-fork-padding-top-mobile);
    padding-right: var(--button-send-create-fork-padding-right-mobile);
    padding-bottom: var(--button-send-create-fork-padding-bottom-mobile);
    padding-left: var(--button-send-create-fork-padding-left-mobile);
    font-size: var(--button-send-create-fork-font-size-mobile);
    border-radius: var(--button-send-create-fork-border-radius-mobile);

    cursor: pointer;
    transition: 0.2s;

    &:hover {
      background-color: var(--main-button-color-hover);
      color: white;
    }
  }

}