.searchContainer{
  height: 100%;
  width: 80%;
  display: flex;
  justify-content: center;
  margin-left: 0%;
  margin-top: 40px;
}

.searchContainerMobile{
  height: 100%;
  width: 94%;
  justify-content: center;
  margin-left: 10px;
  margin-top: 40px;

}