.sidebarContainer {
  width: 20%;
  margin-right: 20px;
  // background-color: var(--main-bg-color);
  height: 100vh;

  .inside {
    margin-left: 20px;

    .menu {
      margin: 40px 24px;

      h4 {
        margin-bottom: 15px;
      }

      li {
        margin-bottom: 10px;
        display: flex;
        gap: 5px;
        align-items: center;
        cursor: pointer;
        padding: 5px 0 5px 5px;
        border-radius: 7px;
        transition: 0.1s;

        &:hover {
          color: #56535c;
        }
      }

      .sidebarItem {
        background-color: rgba(116, 81, 248, 0.42);
      }

      &.bottom {
        margin-top: 50px;
      }
    }

    .menuFlex {
      display: flex;
      align-items: center;

      .newPostButton {
        height: var(--button-send-create-fork-height);
        width: var(--button-send-create-fork-width);
        border: 1px solid var(--button-send-create-fork-border-color);
        background: var(--button-send-create-fork-bg-color);
        color: var(--button-send-create-fork-font-color);
        padding-top: var(--button-send-create-fork-padding-top);
        padding-right: var(--button-send-create-fork-padding-right);
        padding-bottom: var(--button-send-create-fork-padding-bottom);
        padding-left: var(--button-send-create-fork-padding-left);
        font-size: var(--button-send-create-fork-font-size);
        border-radius: var(--button-send-create-fork-border-radius);

        font-weight: 500;
        cursor: pointer;
        transition: 0.2s;

        margin-left: auto;

        &:hover {
          background-color: var(--main-button-color-hover);
          color: white;
        }
      }
    }

  }



}