html,body{
  margin: 0;
  padding: 0;
  overflow: hidden;
}
* {
  font-family: 'Open Sans', sans-serif;;
  margin: 0;
  padding: 0;
  --main-button-color: #f0a051;
  // --main-button-color-hover: #dc9a57;
  --main-button-color-hover: #FE9100;
  --main-button-font-color: #fefefe;
  
  --main-button-white-color: #ffffff;
  --main-button-white-color-hover: #fff5e7;
  --main-button-white-font-color: #3b3b3b;
  --main-button-white-border-color: #3b3b3b;

  --button-border-black: #343434;
  --button-bg-whitegray: #fefefe;

  --main-bg-color: #ffd3a7;
  --sub-bg-color: #fff7ee;
  --surprize-color: #ffffba;
  // --main-header-color: #3b3b3b;
  --main-header-color: white;
  --font-black: #363636;
  --font-graywhite: #6a6a6a;
  --hline-gray: #6a6a6a;
  --draft-item-list-bg-selected: #ededed;


  --button-send-create-fork-width: 100px;
  --button-send-create-fork-border-radius: 8px;
  --button-send-create-fork-font-size: 16px;
  --button-send-create-fork-padding-top: 2px;
  --button-send-create-fork-padding-right: 3px;
  --button-send-create-fork-padding-bottom: 2px;
  --button-send-create-fork-padding-left: 3px;
  --button-send-create-fork-height: 40px;
  --button-send-create-fork-border-color: #5a5a5a;
  --button-send-create-fork-bg-color: none;
  --button-send-create-fork-font-color: #3e3e3e;
  --button-send-create-fork-bg-color-hover: #8d8d8d;
  --button-send-create-fork-font-color-hover: white;

  --button-send-create-fork-width-mobile: 100px;
  --button-send-create-fork-border-radius-mobile: 8px;
  --button-send-create-fork-font-size-mobile: 16px;
  --button-send-create-fork-padding-top-mobile: 2px;
  --button-send-create-fork-padding-right-mobile: 3px;
  --button-send-create-fork-padding-bottom-mobile: 2px;
  --button-send-create-fork-padding-left-mobile: 3px;
  --button-send-create-fork-height-mobile: 40px;
  --button-send-create-fork-border-color-mobile: #5a5a5a;
  --button-send-create-fork-bg-color-mobile: none;
  --button-send-create-fork-font-color-mobile: #3e3e3e;
  --button-send-create-fork-bg-color-hover-mobile: #8d8d8d;
  --button-send-create-fork-font-color-hover-mobile: white;

}

.globalLink{
  text-decoration: none;
  color: inherit;
  transition: 0.2s;
  &:hover{
    color: #858585;

  }
}