html,body{
  margin: 0;
  padding: 0;
  overflow: hidden;
}
* {
  font-family: 'Open Sans', sans-serif;;
  margin: 0;
  padding: 0;
  --main-button-color: #f0a051;
  --main-button-color-hover: #dc9a57;
  --main-button-font-color: #fefefe;
  --button-border-black: #343434;
  --button-bg-whitegray: #fefefe;

  --main-bg-color: #ffd3a7;
  --sub-bg-color: #fff7ee;
  --surprize-color: #ffffba;
  // --main-header-color: #3b3b3b;
  --main-header-color: white;
  --font-black: #363636;
  --font-graywhite: #6a6a6a;
  --hline-gray: #6a6a6a;
}

.globalLink{
  text-decoration: none;
  color: inherit;
  transition: 0.2s;
  &:hover{
    color: #858585;

  }
}